package pages

import "v3/cmd/web/layouts"

templ Home() {
	@layouts.Base() {
		<div id="home-container" class="h-full max-w-sm mx-auto px-4 py-12">
			<div class="flex-row h-full w-full">
				<h2 class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight mt-4">
					Rishikesh Sadanandan
				</h2>
			</div>
		</div>
	}
}
